:root {
    --fundo: #FD9856;
    --cartao-frente: #D162A3;
    --cartao-verso: #A30161;
    --destaque: #D52C01;
    --preto: #000;
    --branco: #ffffff;
}

body {
    background-color: var(--fundo);
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--branco);
    padding: 2rem;
}

header a {
    color: var(--destaque);
    text-decoration: none;
}

footer {
    background-color: var(--branco);
    position: fixed;
    bottom: 0;
    color: var(--destaque);
    width: 100%;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

#container {
    display: grid;
    gap: 2rem;
    margin: 2rem;
}

.conteudo-cartao {
    background-color: var(--cartao-frente);
    padding: 40px;
    border-radius: 20px;
    transition: transform 0.25s;
    box-shadow: 2px 2px 2px var(--preto);
}

.conteudo-cartao:hover {
    transform: scale(1.02);
}

.resposta-cartao {
    background-color: var(--cartao-verso);
    padding: 2rem;
    text-align: center;
    margin-top: 2rem;
    color: var(--branco);
    display: none; /* Ajuste conforme necessário */
}